.main {
  display: flex;
  flex-direction: row;

  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 3.5rem;
  font-weight: 100;
  border: 1px solid green;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  color: black;
  gap: 2rem;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.menu ul {

  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1.5rem;
  color: black;
  margin: 0.4rem;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
}


.search {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  /* border-radius: 2rem; */
  border-radius: 0.4rem;
  /* margin-right: 2rem; */
  background-color: white;

  border: 0.1px solid rgb(171, 170, 170);
  color: rgb(145, 142, 142);
}

.input {
  width: 25rem;
  outline: none;
  height: 2.2rem;
  padding-left: 1.6rem;
  font-size: 1rem;
  color: rgb(98, 97, 97);
  border: none;
  background-color: inherit;
  border-radius: 0.4rem;



}

::placeholder {
  color: rgb(172, 168, 168);
}

.notification {
  margin-right: 12rem;
  color: rgb(162, 160, 160);
}