#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url('../src/assets/TV-room.jpg');
  z-index: 1;

}

.input-box> {}

.caption-box {
  margin-top: 22px;
}

.caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 55px;
  width: 50%;
  text-align: center;
  font-size: 16px;
}

video {
  width: 100%;
  max-width: 575px;
  margin-left: 809px;
  margin-bottom: 295px;
  position: static;
  bottom: 8rem;
  /* right: 12rem; */


}


.caption.active {
  display: block;
  margin-bottom: 265px;
  width: 45%;
  margin-left: 464px;
}

.video-player {
  position: relative;
  width: 100%;
}

.video-player video {
  width: 100%;
  height: auto;
  /* Ensure the video scales proportionally */
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust background color and opacity as needed */
  color: white;
  padding: 10px;
  display: none;
  width: 100%;
  /* Ensure the caption takes full width */
  text-align: center;
}

.video-player:hover .caption {
  /* display: block; */
  /* Show caption on hover (optional, for demonstration) */
}

@media (max-width: 768px) {
  .caption {
    font-size: 14px;
    /* Adjust font size for smaller screens */
  }
}