.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  height: 72px;

}


.container ul {
  list-style: none;
  display: flex;
  gap: 12px;
  font-weight: 500;
}